<!doctype html>
<html lang="en" class="">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../static/images/autec-icon.png">

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='js/sweetalert.min.js') }}"></script>
    <link href="{{ url_for('static', filename='datatables/datatables.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='datatables/datatables.js') }}"></script>


    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>


<!-- Navbar HERE -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='images/autec.png') }}" width="125" height="50" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == url_for('cad_colaborador') %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('cad_colaborador') }}">CADASTRAR</a>
            </li>
            <li class="nav-item {% if request.path == url_for('listar') %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('listar') }}">LISTAR COLABORADORES</a>
            </li>
            <li class="nav-item {% if request.path == url_for('cad_massa') %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('cad_massa') }}">OPERAÇÃO EM MASSA</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            {% if session.get('username') %}
                <li class="nav-item">
                    <div class="d-flex align-items-center">
                        <span class="mr-3 text-light">{{ session['username'] }}</span>
                        <a href="{{ url_for('logout') }}" class="btn btn-danger mx-2 mx-md-1 my-1 my-md-0">Sair</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>





{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}







{% block body %}

{% endblock %}

{% block script %}

{% endblock %}


</body>
</html>
