{% extends 'base.html' %}

{% block title %}
    Cadastro colaborador
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card-body my-5">
            <form method="POST" class="form-register">
                {{ form.hidden_tag() }}
                <h2>Cadastro de Colaborador</h2>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.nome.label(class="form-label") }}
                        {{ form.nome(class="form-control uppercase", placeholder="Nome colaborador") }}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form.matricula.label(class="form-label") }}
                        {{ form.matricula(class="form-control", placeholder="Matricula do colaborador") }}
                    </div>
                </div>

                <div class="form-row">

                    <div class="form-group col-md-12">
                        {{ form.cartao.label(class="form-label") }}
                        {{ form.cartao(class="form-control", placeholder="Cartão do colaborador") }}
                    </div>


                </div>

                {{ form.submit(class="btn btn-primary mt-3") }}
            </form>
        </div>
    </div>
{% endblock %}