{% extends 'base.html' %}

{% block title %}
    Listar colaboradores
{% endblock %}

{% block body %}
    <div class="container col-12">
        <div class="card-body m-1">
            <form id="form" method="POST">
                <table id="table" class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col">Seleção</th>
                        <th class="text-left" scope="col">Matrícula</th>
                        <th class="" scope="col">Colaborador</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user_info in users %}
                        <tr>
                            <td class="text-center">
                                <label>
                                    <input type="checkbox" id="{{ user_info }}" class="user-checkbox">
                                </label>
                            </td>
                            <td>{{ user_info.split(' - ')[1] }}</td>
                            <td>{{ user_info.split(' - ')[0] }}</td>
                            <td class="text-center">
                                <label>
                                    <a class="btn btn-info" href="/user_info/{{ user_info }}" role="button">Editar</a>
                                </label>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
                <div class="col d-flex justify-content-end">
                    <button type="submit" class="btn btn-danger" id="excluir">EXCLUIR COLABORADORES</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='/js/list.js') }}"></script>
{% endblock %}
