{% extends 'base.html' %}

{% block title %}
    Listar colaboradores
{% endblock %}

{% block body %}
    <div class="container col-12">
        <div class="card-body m-1">
            <form>
                <table id="table" class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Matrícula</th>
                        <th scope="col">Colaborador</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user_info in users %}
                        <tr>
                            <td>{{ user_info.split(' - ')[1] }}</td>
                            <td>{{ user_info.split(' - ')[0] }}</td>
                            <td class="text-center">
                                <label>
                                    <button class="btn btn-info">Info</button>
                                </label>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='/js/list.js') }}"></script>
{% endblock %}
