{% extends 'base.html' %}

{% block title %}
    Listar NVRs
{% endblock %}

{% block body %}

    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">Local</th>
            <th scope="col">IP</th>
            <th scope="col">Modelo</th>
            <th scope="col">Canais</th>
            <th scope="col">Cameras Con.</th>
            <th scope="col">NS</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.location }}</td>
                <td>{{ item.IP }}</td>
                <td>{{ item.model }}</td>
                <td>{{ item.channels }}</td>
                <td>{{ item.cameras }}</td>
                <td>{{ item.serial_number }}</td>
                <td>
                    <button class="btn btn-info">More Info</button>
                    <button class="btn btn-success">Purchase this Item</button>
                </td>
            </tr>
        {% endfor %}


        </tbody>
    </table>




{% endblock %}