{% extends 'base.html' %}
{% block title %}
    Registrar
{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" class="form-register" style="color: white">
                    <h2 class="mb-3">Registrar</h2>

                    <div class="form-group">
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class="form-control", placeholder="Nome de Usuário") }}
                    </div>

                    <div class="form-group">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control", placeholder="Email") }}
                    </div>

                    <div class="form-group">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control", placeholder="Senha") }}
                    </div>

                    <div class="form-group">
                        {{ form.password_confirmation.label(class="form-label") }}
                        {{ form.password_confirmation(class="form-control", placeholder="Confirmar Senha") }}
                    </div>

                    {{ form.submit(class="btn btn-primary") }}

                </form>
            </div>
        </div>
    </div>
{% endblock %}
